<p class="messages">You need to be logged in with a valid account to register for events. Login or create a new account below.</p>
<h2>Login:</h2>
<p>{{ login_form }}</p>
<h3>- or -</h3>
<h2>Create new account:</h2>
<p>{{ register_form }}</p>

